@model List<Blogspot.Models.Domain.Tag>

@{
    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1 class="text-primary">Show All Tags - Admin Functionality</h1>
    </div>
</div>

<form method="get" asp-controller="AdminTag" asp-action="List">
    <div class="container mt-5">
        <div class="row">
            <div class="col col-md-3 d-flex">
                <input type="text" class="form-control border-warning" name="searchQuery" value="@ViewBag.SearchQuery" />
                <button type="submit" class="btn btn-outline-warning ms-3 fw-bold btn-sm">Search</button>
            </div>
        </div>
    </div>
</form>

<div class="container mt-3">
    @if (Model != null && Model.Any())
    {
        <table class="table table-responsive table-bordered 
table-hover table-striped">
            <thead class="text-center">
                <tr>
                    <th>ID</th>
                    <th class="w-25">
                        Name
                        <span>
                            <span>
                                <a class="btn btn-light btn-sm"
                                   asp-controller="AdminTag"
                                   asp-action="List"
                                   asp-route-sortBy="Name"
                                   asp-route-sortDirection="Asc"
                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-arrow-up-short"></i>
                                </a>
                            </span>
                            <span>
                                <a class="btn btn-light btn-sm"
                                   asp-controller="AdminTag"
                                   asp-action="List"
                                   asp-route-sortBy="Name"
                                   asp-route-sortDirection="Desc"
                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-arrow-down-short"></i>
                                </a>
                            </span>
                        </span>
                    </th>
                    <th class="w-25">
                        Display Name
                        <span>
                            <span>
                                <a class="btn btn-light btn-sm"
                                   asp-controller="AdminTag"
                                   asp-action="List"
                                   asp-route-sortBy="DisplayName"
                                   asp-route-sortDirection="Asc"
                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-arrow-up-short"></i>
                                </a>
                            </span>
                            <span>
                                <a class="btn btn-light btn-sm"
                                   asp-controller="AdminTag"
                                   asp-action="List"
                                   asp-route-sortBy="DisplayName"
                                   asp-route-sortDirection="Desc"
                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-arrow-down-short"></i>
                                </a>
                            </span>
                        </span>
                    </th>


                    <th>Action</th>

                </tr>
            </thead>

            <tbody>
                @foreach (var tag in Model)
                {
                    <tr>
                        <td >@tag.Id</td>
                        <td>@tag.Name</td>
                        <td>@tag.DisplayName</td>
                        <td class="text-center justify-content-center align-content-center">
                            <a asp-area="" asp-controller="AdminTag" asp-action="Edit" asp-route-id="@tag.Id" class="btn btn-outline-info btn-sm">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a asp-area="" asp-controller="AdminTag" asp-action="Edit" asp-route-id="@tag.Id" class="btn btn-outline-danger btn-sm">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                            <a asp-area="" asp-controller="AdminTag" asp-action="Add" class="btn btn-outline-primary btn-sm">
                                <i class="bi bi-plus-square-fill"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="d-flex justify-content-center ">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" asp-action="List"
                           asp-route-pageNumber="@prevPage"
                           asp-route-pageSize="@ViewBag.PageSize"
                           asp-route-sortBy="@ViewBag.SortBy"
                           asp-route-sortDirection="@ViewBag.SortDirection">Previous</a>
                    </li>
                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="AdminTag"
                               asp-action="List"
                               asp-route-pageNumber="@i"
                               asp-route-pageSize="@ViewBag.PageSize">@i</a>
                        </li>
                    }
                    <li class="page-item">
                        <a class="page-link" asp-action="List"
                           asp-route-pageNumber="@nextPage"
                           asp-route-pageSize="@ViewBag.PageSize"
                           asp-route-sortBy="@ViewBag.SortBy"
                           asp-route-sortDirection="@ViewBag.SortDirection">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    }
    else
    {
        <p>No Tag Found!</p>
    }
</div>